html, body {
  margin: 20px;
}

/* emberui was setting overflow: scroll, which caused scroll bars to permanently appear. TODO: probably want to remove this when emberui/etc. updates and I start doing more css work */
.ember-application {
  overflow: auto;
}

.restroom-notice {
  font-style: italic;
}

.error-message {
  color: red;
}

.bold {
  font-weight: bold;
}

/* prevents the worst display issues on desktop */
@media (min-width: 380px) {
  form, .content-padded {
    max-width: 380px;
  }
}
