html, body {
  margin: 20px;
}

/* emberui was setting overflow: scroll, which caused scroll bars to permanently appear. TODO: probably want to remove this when emberui/etc. updates and I start doing more css work */
.ember-application {
  overflow: auto;
}

.live-shift {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
  border: 1px solid black;
}
