
<div class="content-padded">
  {{#if controllers.spinner.liveShifts.length}}
    <h3>Happening Now</h3>
    <ul class="table-view">
      {{#each shift in controllers.spinner.liveShifts}}
        {{render "spinner-live-shift" shift}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if controllers.spinner.nearFutureShifts.length}}
    <h3>Happening Soon</h3>
    <ul class="table-view">
      {{#each controllers.spinner.nearFutureShifts}}
        {{partial "spinner-nonlive-shift"}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if controllers.spinner.upcomingShifts.length}}
    <h3>Upcoming Shifts</h3>
    <ul class="table-view">
      {{#each controllers.spinner.upcomingShifts}}
        {{partial "spinner-nonlive-shift"}}
      {{/each}}
    </ul>
  {{/if}}

  {{#unless controllers.spinner.liveShifts.length}}
    {{#unless controllers.spinner.nearFutureShifts.length}}
      {{#unless controllers.spinner.upcomingShifts.length}}
        <h3>You have no shifts!</h3>
        <p>Press 'Get Work' to get some shifts.</p>
      {{/unless}}
    {{/unless}}
  {{/unless}}
</div>
