
<div class="content-padded">
  <h3>Book Spinner</h3>
  Date {{view Ember.Select content=bookingDatesStruct
                      optionValuePath="content.dateAsMoment"
                      optionLabelPath="content.dateAsString"
                      value=selectedDateAsMoment}}
  <br>
  Start time {{view Ember.Select content=shiftStartTimesOfDayStruct
                      optionValuePath="content.timeAsMoment"
                      optionLabelPath="content.timeAsString"
                      value=selectedStartTimeOfDayAsMoment}}
  <br>
  End time {{view Ember.Select content=shiftEndTimesOfDayStruct
                      optionValuePath="content.timeAsMoment"
                      optionLabelPath="content.timeAsString"
                      value=selectedEndTimeOfDayAsMoment}}
  <br>
  {{eui-button label='Book Spinner' style='primary' size='large' disabled=bookSpinnerButtonIsDisabled action='createSpinnerShift' icon='fa fa-check'}}
</div>
