<h2 id='title'>Welcome to Ember.js</h2>

<a href="/"><button>Reload</button></a><br>
{{#link-to 'business' "larry's-giant-subs"}}<button>Larry's Homepage</button>{{/link-to}}
{{#link-to 'business' "cricket-wireless"}}<button>Cricket's Homepage</button>{{/link-to}}
{{#link-to 'spinner' "toby"}}<button>Toby's Homepage</button>{{/link-to}}
{{#link-to 'spinner' "ryan-berckmans"}}<button>Ryan's Homepage</button>{{/link-to}}

{{outlet}}
