<h2 id='title'>Welcome to Ember.js</h2>

<button {{action "createTestData" }}>Create Test Data</button>
<button {{action "deleteAllData" }}>Clear Datastore</button>
{{#link-to "business" "larry's-giant-subs"}}<button>Larry's Homepage</button>{{/link-to}}

<h2> Outlet </h2>
{{outlet}}
