<h1>Book Spinner</h1>

{{id}}<br>
{{name}}<br>
{{address}}<br>

<p>TODO: book-spinner should be a child route of the business resource. routes/business/book-spinner.coffee should set the model to a new, unsaved SpinnerShift.
  controllers/business/book-spinner should populate  template's model, ie the unsaved spinnershift. "Book Spinner/ Confirm" button should then save that shift and associate it with the Business, pretty much what createSpinnerShift does now. BookSpinnerController gets access to the business using Ember.Controller.needs</p>

<button {{action "createSpinnerShift" }}>Book Spinner</button>
