
<div class="live-shift">
  LIVE from X-Y today<br>
  Spinner: {{spinner.firstName}}<br>
  Break TBD; (1) Spinner hasn't taken break yet, (3) On break now until X, (4) Break was over at X<br>
  Lunch TBD, same as break<br>
</div>
