<header class="bar bar-nav">
  <h1 class="title">SignSpout - {{name}}</h1>
</header>

<nav class="bar bar-tab">
  {{#link-to 'business.index' auth.businessId classNames='tab-item'}}
    <span class="icon icon-home"></span>
    <span class="tab-label">Today</span>
  {{/link-to}}
  {{#link-to 'business.book-spinner' auth.businessId classNames='tab-item'}}
    <span class="icon icon-search"></span>
    <span class="tab-label">Book Spinner</span>
  {{/link-to}}
  {{#link-to 'business.history' auth.businessId classNames='tab-item'}}
    <span class="icon fa fa-history"></span>
    <span class="tab-label">History</span>
  {{/link-to}}
  {{#link-to 'business.profile' auth.businessId classNames='tab-item'}}
    <span class="icon icon-person"></span>
    <span class="tab-label">Profile</span>
  {{/link-to}}
</nav>
