<header class="bar bar-nav">
  <h1 class="title title-left"><img class="title-image" src="/assets/images/favicon.50x50.png" height="16" width="16"/>SignSpout</h1>
  <a class="title title-right" href="tel:+19049308219">(904) 930-8219</a>
</header>

<div class="content">
  <div class="content-padded">
    <h3>Live Shift Demo</h3>
    <button class="btn btn-large btn-primary" {{bind-attr disabled=createDemoShiftsButtonIsDisabled}} {{action 'createDemoShifts'}}>Launch Demo</button>
  </div>
</div>
