
<h1>USS Sign Spinners :)</h1>

{{#if auth.isAuthenticated}}
  Logged in as {{auth.email}} with uid {{auth.uid}}
  <button {{action 'logout'}}>Log out</button><br>
{{/if}}

<button {{action 'loginWithEmail'}}>Login with Email+Pass</button>
