
<div class="content-padded">
  <h3><img class="title-image" src="/assets/images/favicon.50x50.png" height="16" width="16" alt=""/>SignSpout</h3>
  <div class="loading">
    <p>Loading...</p>
    <i class="fa fa-3x fa-spinner fa-spin"></i>
  </div>
</div>
