
<div class="spinner-live-shift">
LIVE from X-Y today<br>
Location: {{business.name}}<br>
Address: TBD map links using a helper {{business.address}}<br>
Break TBD<br>
Lunch TBD<br>
Working this shift right now!
</div>
